<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="SeleLv2.testcases.LOGIN.DA_LOGIN_TC002_Login_with_invalid_credentials"/>
      <class name="SeleLv2.testcases.LOGIN.DA_LOGIN_TC001_Users_Able_to_Login_Successfully_with_Valid_Username_and_Password"/>
      <class name="SeleLv2.testcases.LOGIN.DA_LOGIN_TC003_Login_with_incorrect_password"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
